- title "Create your listing"

#signup-steps
  .inner
    %ol
      %li.step.current
        %span.bullet
          1
        %span.label
          Create Account
      %li.step
        %span.bullet
          2
        %span.label
          Company Details
      %li.step
        %span.bullet
          3
        %span.label
          Apps Details
      %li.step
        %span.bullet
          4
        %span.label
          Upgrade
      %li.step
        %span.bullet
          5
        %span.label
          Publish

#signup.auth.inner
  %hgroup
    %h1 Increase your <em class="accentuate">online visibility.</em> Start <em class="accentuate">getting work.</em>
    %h2 It's free and takes only a couple of minutes.

  #signup-box.box
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = devise_error_messages!

      %fieldset
        = f.label :email
        = f.email_field :email, placeholder: "your@email.com"

      %fieldset
        = f.label :password, "New Password"
        = f.password_field :password

      %fieldset.actions
        = f.submit "Continue to Company Details"