#filter
  .inner
    %form{:action => companies_path, :method => "get"}
      .filter#platforms
        %label Platform
        %ul.platform-options
          %li.ios{'data-filter' => 'ios', 'data-title' => 'iOS', :class => pf_active?("ios")}
            = label_tag "platform_ios", "ios"
            = check_box_tag "platform[]", "ios", @platform.include?("ios")
            .icon
          %li.android{'data-filter' => 'android', 'data-title' => 'Android', :class => pf_active?("android")}
            = label_tag "platform_android", "android"
            = check_box_tag "platform[]", "android", @platform.include?("android")
            .icon
          %li.blackberry{'data-filter' => 'blackberry', 'data-title' => 'BlackBerry', :class => pf_active?("blackberry")}
            = label_tag "platform_blackberry", "blackberry"
            = check_box_tag "platform[]", "blackberry", @platform.include?("blackberry")
            .icon
          %li.windows{'data-filter' => 'windows', 'data-title' => 'Windows', :class => pf_active?("windows")}
            = label_tag "platform_windows", "windows"
            = check_box_tag "platform[]", "windows", @platform.include?("windows")
            .icon

      .filter#location
        %label Location
        .location-options
          = search_field_tag :location, params[:location], :placeholder => "City, State or Country"
          -#= select_tag "location_select"

      .filter#budget
        %label Budget
        .budget-options
          = select_tag "filter_budget", options_for_select([["Any Budget", ""], ["Below $5,000", "0"], ["$5,000 - $15,000", "1"], ["$15,000 - $50,000", "2"],["Over $50,000", "3"]], (params[:budget].blank? ? nil : params[:budget].to_i)), :class => "select-btn", :name => "budget"

      .filter.actions
        = submit_tag "Filter", :name => nil

#result_summary
  %p.inner
    %b= @companies.total_count
    - if params[:platform].present?
      %b= params[:platform].to_sentence(:words_connector => " / ", :two_words_connector => " / ", :last_word_connector => " / ").titleize
    developers from
    - if params[:location].present?
      %b= Geocoder.search(params[:location])[0].address
    - else
      %b Everywhere
    who’s fee ranges from
    %b
      - if params[:budget].blank?
        Any Budget
      - else
        = budget_to_string(params[:budget].to_i)
    match your criteria