#filter
  .inner
    = form_tag(:action => :index) do
      .filter#platforms
        %label Platform
        .platform-options
          %ul
            %li.ios{'data-filter' => 'ios'}
              .icon
            %li.android{'data-filter' => 'android'}
              .icon
            %li.blackberry{'data-filter' => 'blackberry'}
              .icon
            %li.windows.active{'data-filter' => 'windows'}
              .icon

          .hide
            - CompaniesHelper::PLATFORMS.each do |value|
              = check_box_tag "filter_skills_#{value}", value
              = label_tag "filter_skills_#{value}", value
      .filter#location
        %label Location
        .location-options
          = select_tag "location_select"

      .filter#budget
        %label Budget
        .budget-options
          = select_tag "filter_budget", options_for_select(CompaniesHelper::BUDGETS), :class => "select-btn"

      .actions
        = submit_tag "Filter"
#result_summary
  %p.inner Showing all 50 <b>iOS / Blackberry / Windows Mobile</b> developers from <b>San Francisco</b> who’s fee ranges from <b>$5,000$ - $15,000</b>: