%nav#subnav
  %ul
    %li= link_to "About", "#"
    %li= link_to "Blog", "#"
    %li= link_to "Contact", "#"

%span#copyright © 2012 AppAgencies.com

%nav#legal
  %ul
    %li= link_to "Terms", legal_terms_path
    %li= link_to "Privacy", legal_privacy_path

%nav#social
  %span Join us on
  %ul
    %li.twitter
      .icon
      = link_to "Twitter", "http://twitter.com/appagencies", :target => "_blank"
    %li.fb
      .icon
      = link_to "Facebook", "http://www.facebook.com/AppAgencies", :target => "_blank"
