%nav#subnav
  %ul
    %li= link_to_unless_current "About", about_path
    %li= link_to "Blog", "#"
    %li= mail_to "contact@appagencies.com", "Contact"
    %li.backtotop= link_to "↑ Back to top", "#wrapper", title: 'Jump to the top of the page', class: 'backtotop'

%span#copyright © 2012 AppAgencies.com

%nav#legal
  %ul
    %li= link_to_unless_current "Terms", legal_terms_path
    %li= link_to_unless_current "Privacy", legal_privacy_path

%nav#social
  %span Join us on
  %ul
    %li.twitter
      .icon
      = link_to "Twitter", "http://twitter.com/appagencies", :target => "_blank"
    %li.fb
      .icon
      = link_to "Facebook", "http://www.facebook.com/AppAgencies", :target => "_blank"
