.company.card{class: CompaniesHelper::SIZE[company.size]}
  .company-content-wrapper
    %h1.company-name= link_to company.name, company
    .company-location= company.location.name
    .company-budget= budget_to_shortstring(company.budget)
    .company-apps
      %ul.app-icons
        - company.apps.cover.each do |app|
          %li
            = link_to "##{app.id}", "data-toggle" => "tab" do
              %figure.icon
                = image_tag app.icon_url if app.icon_url.present?
                .mask
      .apps-content
        - company.apps.cover.each do |app|
          .app{id: "#{app.id}"}
            .app-name= app.name
            .app-description= simple_format h app.description
            .app-screenshot
