.company.pro
  .company-content-wrapper
    %h1.company-name= link_to company.name, company
    .company-location= company.location.name
    .company-budget= budget_to_shortstring(company.budget)
    .company-plat= company.platform
    - company.apps.cover.each do |app|
      .apps
        .app-name= link_to app.name, company_app_path(company, app)
        .app-description= app.description
