- if @company.errors.any?
  #error_explanation
    %h2= pluralize(@company.errors.count, "error") + " prohibited this company from being saved:"

    %ul
      - @company.errors.full_messages.each do |msg|
        %li= msg

.field
  = f.label :name
  = f.text_field :name

.field.radio
  = f.label :budget
  %ul
    - CompaniesHelper::BUDGETS.each do |budget|
      %li
        = f.radio_button :budget, budget[:id]
        = f.label :budget, budget[:string], :value => budget[:id]

.field
  = f.label :description
  = f.text_area :description

.field
  = f.label :website
  = f.url_field :website

.field
  = f.label :email, "Contact Email"
  = f.email_field :email

.field.radio
  = f.label :platform
  %ul
    - CompaniesHelper::PLATFORMS.each do |value|
      %li
        = check_box_tag "company_platform_#{value}", value, @company.platform.include?(value), :name => "company[platform][]"
        = label_tag "company_platform_#{value}", value

.field
  = f.fields_for :location do |l|
    = l.label :name, "Location"
    = l.text_field :name

.field
  = f.label :logo
  = image_tag @company.logo_url if @company.logo?
  = f.file_field :logo
  = f.hidden_field :logo_cache

.form-actions
  = f.submit