.company-profile{:itemscope => true, :itemtype => "http://schema.org/Organization"}
  %header
    .inner
      - unless !@company.is_approved?
        .pending-review
          Your company isn't publicly visible yet while pending approval.
    .company-info
      .inner
        %figure.company-logo{:itemprop => "image"}= image_tag @company.logo_url if @company.logo_url.present?
        %h1.company-name{:itemprop => "name"}= @company.name
        .company-platform
          - @company.platform.each do |platform|
            %i{class: platform}= platform
        .company-location
          %span.label Located in
          %b{:itemprop => "location"}= link_to @company.location.name, companies_path(:location => @company.location.name)
        .company-budget
          %span.label Average fee
          = budget_to_string(@company.budget)
        .company-website
          = link_to @company.website, @company.website, :target => "_blank", :itemprop => "url"
        .company-desc{:itemprop => "description"}
          = simple_format h @company.description
        .actions
          = mail_to @company.email, "Hire Us", :encode => "hex", :class => 'hire-btn', :itemprop => "email"

  .company-apps-list.inner
    - @apps.each do |app|
      .app{:itemscope => true, :itemtype => "http://schema.org/MobileApplication"}
        .app-txt
          %figure.app-icon{:itemprop => "image"}
            = image_tag app.icon_url if app.icon_url.present?
            .mask
          %h2.app-name{:itemprop => "name"}= link_to app.name, app.link
          .app-description{:itemprop => "description"}= simple_format h app.description
        .app-screenshots
          - app.screenshots.each do |s|
            = image_tag s.screenshot_url, :itemprop => "screenshot"