<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>
<p>
  <b>Budget:</b>
  <%= @company.budget %>
</p>
<p>
  <b>Description:</b>
  <%= @company.description %>
</p>
<p>
	<b>Email:</b>
	<%= @company.email %>
</p>

<p>
	<b>Skills:</b>
	<%= @company.skills.to_sentence %>
</p>

<p>
  <b>Country:</b>
  <%= @company.location.country.name%>
</p>

<%= image_tag @company.logo_url %>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
