.inner.company-profile
  - unless @company.is_approved?
    .pending-review
      Your company isn't publicly visible yet while pending approval.

  %header
    %figure.company-logo= image_tag @company.logo_url if @company.logo_url.present?
    %h1.company-name= @company.name
    .company-budget
      %span Average fee
      = budget_to_string(@company.budget)
    .company-location
      %span Located in
      = link_to @company.location.name, companies_path(:location => @company.location.name)

  %p
    %b Description:
    = @company.description

  %p
    = mail_to @company.email, "Contact Us", :encode => "hex"

  %p
    %b Platforms:
    = @company.platform.to_sentence

  %h2 Apps
  - @apps.each do |app|
    %p
      %b App Name:
      = app.name

    %p
      %b App Description:
      = app.description

    %p
      %b App Link:
      = app.link


  - if can? :update, @company
    = link_to 'Edit', edit_company_path(@company)