.company-profile
  %header
    .inner
      - unless !@company.is_approved?
        .pending-review
          Your company isn't publicly visible yet while pending approval.
    .company-info
      .inner
        %figure.company-logo= image_tag @company.logo_url if @company.logo_url.present?
        %h1.company-name= @company.name
        .company-location
          %span Located in
          = link_to @company.location.name, companies_path(:location => @company.location.name)
        .company-budget
          %span Average fee
          = budget_to_string(@company.budget)
        .company-platform
          %span We build
          = @company.platform.to_sentence
        .company-website
          = link_to @company.website, @company.website, :target => "_blank"
        .company-desc
          = @company.description
        .actions
          = mail_to @company.email, "Hire Us", :encode => "hex", :class => 'hire-btn'

  .company-apps.inner
    - @apps.each do |app|
      .app.card
        %p
          %figure= image_tag app.icon_url if app.icon_url.present?
        %p
          %b= app.name
        %p
          = app.description
        %p
          - app.screenshots.each do |s|
            = image_tag s.screenshot_url