.inner
  - if !@company.is_approved?
    .pending-review
      Your company isn't publicly visible yet while pending review.

  %p
    %b Name:
    = @company.name

  %p
    %b Budget:
    = budget_to_string(@company.budget)

  %p
    %b Description:
    = @company.description

  %p
    %b Email:
    = @company.email

  %p
    %b Platforms:
    = @company.platforms.name

  %p
    %b Country:
    - countryobject = Carmen::Country.coded(@company.location.country)
    = countryobject.name

  %p
    %b Region:
    = countryobject.subregions.coded(@company.location.region).name

  %p
    -#= image_tag @company.logo_url


  - if can? :update, @company
    = link_to 'Edit', edit_company_path(@company)