.inner
  - if !@company.is_approved?
    .pending-review
      Your company isn't publicly visible yet while pending approval.

  %p
    %b Name:
    = @company.name

  %p
    %b Budget:
    = budget_to_string(@company.budget)

  %p
    %b Description:
    = @company.description

  %p
    = mail_to @company.email, "Contact Us", :encode => "hex"

  %p
    %b Platforms:
    = @company.platform.to_sentence

  %p
    %b Country:
    - countryobject = Carmen::Country.coded(@company.location.country)
    = countryobject.name

  %p
    %b Region:
    = countryobject.subregions.coded(@company.location.region).name

  %p
    %b City:
    = @company.location.city

  %p
    -#= image_tag @company.logo_url

  %h2 Apps
  - @apps.each do |app|
    %p
      %b App Name:
      = app.name

    %p
      %b App Description:
      = app.description

    %p
      %b App Link:
      = app.link


  - if can? :update, @company
    = link_to 'Edit', edit_company_path(@company)