#signup-steps
  .inner
    %ol
      %li.step.previous
        %span.bullet
          1
        %span.label
          Create Account
      %li.step.previous
        = link_to wizard_path(:add_company) do
          %span.bullet
            2
          %span.label
            Company Details
      %li.step.current
        %span.bullet
          3
        %span.label
          Apps Details
      %li.step
        %span.bullet
          4
        %span.label
          Publish

.edit-listing.inner
  .company-apps-list
    .left-column
      .apps-nav
        %ul
          %li.new
            %a{href: "#newapp"}
              %figure.app-icon
                = image_tag "add-icon.png"
              .app-name Add App
          - @apps.reverse_each do |app|
            %li
              %a{href: "##{app.id}"}
                %figure.app-icon
                  = image_tag app.icon_url if app.icon_url.present?
                  .mask
                .app-name= app.name
      .skip= link_to 'Skip for now', next_wizard_path

    .app-show.new#newapp
      = nested_form_for @app, :url => wizard_path, :method => :put do |f|
        = render 'apps/form', :f => f

    - @apps.each do |app|
      .app-show.edit{id: app.id}
        = nested_form_for [app.company, app], :remote => true do |f|
          = render 'apps/form', :f => f
        .app-delete= link_to "Delete App", [app.company, app], :data => { :confirm => "Are you sure?" }, :method => :delete