#login.auth.inner
  %h2 Login to App Agencies

  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    %fieldset
      = f.label :email
      = f.email_field :email

    %fieldset
      = f.label :password
      = f.password_field :password

    %fieldset.actions
      = f.submit "Login"

  = render "devise/shared/links"
