- if @app.errors.any?
  #error_explanation
    %h2= pluralize(@app.errors.count, "error") + " prohibited this company from being saved:"

    %ul
      - @app.errors.full_messages.each do |msg|
        %li= msg

.field
  = f.label :name
  = f.text_field :name, placeholder: "Name"

.field
  = f.label :description
  = f.text_area :description, placeholder: "Description"

.field
  = f.label :link
  = f.url_field :link, placeholder: "Link"

.field
  = f.label :icon
  = image_tag @app.icon_url if @app.icon?
  = f.file_field :icon
  = f.hidden_field :icon_cache

  = f.check_box :remove_icon
  Remove Icon

%h3 Photo Gallery
.field
  = f.fields_for :screenshots do |s|
    = s.file_field :screenshot
    = s.hidden_field :screenshot_cache

.form-actions
  = f.submit