- if @app.errors.any?
  #error_explanation
    %h2= pluralize(@app.errors.count, "error") + " prohibited this company from being saved:"

    %ul
      - @app.errors.full_messages.each do |msg|
        %li= msg

.field
  = f.label :name
  = f.text_field :name, placeholder: "Name"

.field
  = f.label :description
  = f.text_area :description, placeholder: "Description"

.field
  = f.label :link
  = f.url_field :link, placeholder: "Link"

.field
  = f.label :icon
  %figure.app-icon
    = image_tag @app.icon_url if @app.icon_url.present?
    .mask
  = f.file_field :icon
  = f.hidden_field :icon_cache

.field.screenshots
  %h3 Screenshots
  = f.fields_for :screenshots do |s|
    - if s.object.new_record?
      .screenshot.new
        = s.file_field :screenshot
        = s.hidden_field :screenshot_cache
    - else
      .screenshot
        = image_tag s.object.screenshot_url
        = s.link_to_remove "Remove", :title => "Remove Screenshot"
  = f.link_to_add "Add screenshot", :screenshots

.form-actions
  = f.submit