.edit-listing.inner
  = render "shared/edit_nav"

  .company-apps-list
    .left-column
      .apps-nav
        %ul
          %li.new
            %a{href: "#newapp"}
              %figure.app-icon
                = image_tag "add-icon.png"
              .app-name Add app
          - @apps.reverse_each do |app|
            %li
              %a{href: "##{app.id}"}
                %figure.app-icon
                  = image_tag app.icon_url if app.icon_url.present?
                  .mask
                .app-name= app.name

    .app-show.new#newapp
      = nested_form_for [@app.company, @app] do |f|
        = render 'form', :f => f

    - @apps.each do |app|
      .app-show.edit{id: app.id}
        = nested_form_for [app.company, app], :remote => true do |f|
          = render 'form', :f => f
        .app-delete= link_to "Delete App", [app.company, app], :data => { :confirm => "Are you sure?" }, :method => :delete