.inner
  %p
    %b Name:
    = @app.name
  %p
    %b Description:
    = @app.description

  %p
    %b Icon:
    %figure.icon
      = image_tag @app.icon_url if @app.icon_url.present?
      .mask

  %p
    %b Screenshots:
    - @app.screenshots.each do |s|
      = image_tag s.screenshot_url
  %p
    %b Link:
    = link_to "Download App", @app.link

  = link_to "Back", company_apps_path(@app.company)

  - if can? :update, @app
    = link_to 'Edit', edit_company_app_path(@app.company, @app)
    = link_to "Delete App", [@app.company, @app], :confirm => 'Are you sure?', :method => :delete
